<header class="bg-blue700">
  <div class="container">
    <nav class="navbar py-6">
      <a [routerLink]="'/'" class="logo text-white font-bold text-2xxl flex items-center uppercase">
        <img class="mr-6 h-5"
             [src]="'./assets/images/logo.svg'"
             [alt]="'logo'">
        digital sport
      </a>
    </nav>
  </div>
</header>

@if(false) {
  <div class="py-5 border-b border-b-white text-white">
    <div class="container">
      <ds-breadcrumb></ds-breadcrumb>
    </div>
  </div>
}

