<div class="tournament-view text-white md:flex items-start">
  <a class="tournament-view-shortname mr-7 rounded font-medium text-2xl uppercase text-center cursor-pointer block">eof</a>
  <div class="tournament-view-info">
    <div class="tournament-view-name font-medium text-3xl mb-5">Эсхата Онлайн (Фронт) </div>
    <div class="tournament-view-description">
      <div class="tournament-view-items flex items-center py-1">
        <div class="tournament-view-label font-normal text-2xl w-80">Полное название</div>
        <div class="mx-5">:</div>
        <div class="tournament-view-value font-normal text-2xl">Футбольная команда ЦД “Эсхата Онлайн (Фронт)”</div>
      </div>
      <div class="tournament-view-items flex items-center py-1">
        <div class="tournament-view-label font-normal text-2xl w-80">Аббревиатура</div>
        <div class="mx-5">:</div>
        <div class="tournament-view-value font-normal text-2xl">EOF</div>
      </div>
      <div class="tournament-view-items flex items-center py-1">
        <div class="tournament-view-label font-normal text-2xl w-80">Капитан</div>
        <div class="mx-5">:</div>
        <div class="tournament-view-value font-normal text-2xl">Икром Хотамов</div>
      </div>
      <div class="tournament-view-items flex items-center py-1">
        <div class="tournament-view-label font-normal text-2xl w-80">Стадион</div>
        <div class="mx-5">:</div>
        <div class="tournament-view-value font-normal text-2xl">Стадион “Сартукай”</div>
      </div>
      <div class="tournament-view-items flex items-center py-1">
        <div class="tournament-view-label font-normal text-2xl w-80">Год основания</div>
        <div class="mx-5">:</div>
        <div class="tournament-view-value font-normal text-2xl">2020</div>
      </div>
      <div class="tournament-view-items flex items-center py-1">
        <div class="tournament-view-label font-normal text-2xl w-80">Рейтинг ЦД “Эсхата Банк”</div>
        <div class="mx-5">:</div>
        <div class="tournament-view-value font-normal text-2xl">2</div>
      </div>
      <div class="tournament-view-items flex items-center py-1">
        <div class="tournament-view-label font-normal text-2xl w-80">Соревнования</div>
        <div class="mx-5">:</div>
        <div class="tournament-view-value font-normal text-2xl">Турнир ЦД</div>
      </div>
    </div>
  </div>
</div>
