<div class="pb-12">
  <table class="w-full bg-transparent text-left text-white">
    <tbody>
    <tr class="border-b">
      <th class="px-6 py-4">
        <div class="flex items-center">
          <img class="mr-5" [src]="'assets/images/player-image.svg'" [alt]="'player_image'">
          <div class="flex flex-col">
            <h6 class="text-xl font-medium">Рахимчон С.</h6>
            <span class="text-xs font-medium">Эсхата Сервис ES</span>
          </div>
        </div>
      </th>
      <td class="px-6 py-4">
        <div class="flex flex-col items-center">
          <img class="h-6 mb-5" [src]="'assets/images/ball.svg'" [alt]="'ball-icon'">
          <span class="text-base font-normal">4</span>
        </div>
      </td>
      <td class="px-6 py-4">
        <div class="flex flex-col items-center">
          <img class="h-3 mb-5" [src]="'assets/images/football-sneakers.svg'" [alt]="'football-sneakers'">
          <span class="text-base font-normal">2</span>
        </div>
      </td>
      <td class="px-6 py-4">
        <div class="flex flex-col items-center">
          <img class="h-6 mb-5" [src]="'assets/images/field-icon.svg'" [alt]="'field-icon'">
          <span class="text-base font-normal">2</span>
        </div>
      </td>
      <td class="px-6 py-4">
        <div class="flex flex-col items-center">
          <div class="flex items-center">
            <img class="h-6 mb-5" [src]="'assets/images/ball.svg'" [alt]="'ball-icon'">
            <span class="px-2 -mt-4.5">+</span>
            <img class="h-3 mb-5" [src]="'assets/images/football-sneakers.svg'" [alt]="'football-sneakers'">
          </div>
          <span class="text-base font-normal">2</span>
        </div>
      </td>
      <td class="px-6 py-4">
        <div class="flex flex-col items-center">
          <img class="h-6 mb-5" [src]="'assets/images/ball-pass.svg'" [alt]="'ball-pass'">
          <span class="text-base font-normal">2</span>
        </div>
      </td>
      <td class="px-6 py-4">
        <div class="flex flex-col items-center">
          <img class="h-6 mb-5" [src]="'assets/images/card-yellow.svg'" [alt]="'card-yellow'">
          <span class="text-base font-normal">1</span>
        </div>
      </td>
      <td class="px-6 py-4">
        <div class="flex flex-col items-center">
          <img class="h-6 mb-5" [src]="'assets/images/card-red.svg'" [alt]="'card-red'">
          <span class="text-base font-normal">0</span>
        </div>
      </td>
    </tr>
    <tr class="border-b">
      <th class="px-6 py-4">
        <div class="flex items-center">
          <img class="mr-5" [src]="'assets/images/player-image.svg'" [alt]="'player_image'">
          <div class="flex flex-col">
            <h6 class="text-xl font-medium">Камол Х.</h6>
            <span class="text-xs font-medium">Эсхата онлайн (Бэкэнд) EOB</span>
          </div>
        </div>
      </th>
      <td class="px-6 py-4">
        <div class="flex flex-col items-center">
          <img class="h-6 mb-5" [src]="'assets/images/ball.svg'" [alt]="'ball-icon'">
          <span class="text-base font-normal">3</span>
        </div>
      </td>
      <td class="px-6 py-4">
        <div class="flex flex-col items-center">
          <img class="h-3 mb-5" [src]="'assets/images/football-sneakers.svg'" [alt]="'football-sneakers'">
          <span class="text-base font-normal">1</span>
        </div>
      </td>
      <td class="px-6 py-4">
        <div class="flex flex-col items-center">
          <img class="h-6 mb-5" [src]="'assets/images/field-icon.svg'" [alt]="'field-icon'">
          <span class="text-base font-normal">2</span>
        </div>
      </td>
      <td class="px-6 py-4">
        <div class="flex flex-col items-center">
          <div class="flex items-center">
            <img class="h-6 mb-5" [src]="'assets/images/ball.svg'" [alt]="'ball-icon'">
            <span class="px-2 -mt-4.5">+</span>
            <img class="h-3 mb-5" [src]="'assets/images/football-sneakers.svg'" [alt]="'football-sneakers'">
          </div>
          <span class="text-base font-normal">4</span>
        </div>
      </td>
      <td class="px-6 py-4">
        <div class="flex flex-col items-center">
          <img class="h-6 mb-5" [src]="'assets/images/ball-pass.svg'" [alt]="'ball-pass'">
          <span class="text-base font-normal">0</span>
        </div>
      </td>
      <td class="px-6 py-4">
        <div class="flex flex-col items-center">
          <img class="h-6 mb-5" [src]="'assets/images/card-yellow.svg'" [alt]="'card-yellow'">
          <span class="text-base font-normal">0</span>
        </div>
      </td>
      <td class="px-6 py-4">
        <div class="flex flex-col items-center">
          <img class="h-6 mb-5" [src]="'assets/images/card-red.svg'" [alt]="'card-red'">
          <span class="text-base font-normal">0</span>
        </div>
      </td>
    </tr>
    <tr class="border-b">
      <th class="px-6 py-4">
        <div class="flex items-center">
          <img class="mr-5" [src]="'assets/images/player-image.svg'" [alt]="'player_image'">
          <div class="flex flex-col">
            <h6 class="text-xl font-medium">Сухроб Х.</h6>
            <span class="text-xs font-medium">Эсхата Сервис ES</span>
          </div>
        </div>
      </th>
      <td class="px-6 py-4">
        <div class="flex flex-col items-center">
          <img class="h-6 mb-5" [src]="'assets/images/ball.svg'" [alt]="'ball-icon'">
          <span class="text-base font-normal">3</span>
        </div>
      </td>
      <td class="px-6 py-4">
        <div class="flex flex-col items-center">
          <img class="h-3 mb-5" [src]="'assets/images/football-sneakers.svg'" [alt]="'football-sneakers'">
          <span class="text-base font-normal">0</span>
        </div>
      </td>
      <td class="px-6 py-4">
        <div class="flex flex-col items-center">
          <img class="h-6 mb-5" [src]="'assets/images/field-icon.svg'" [alt]="'field-icon'">
          <span class="text-base font-normal">2</span>
        </div>
      </td>
      <td class="px-6 py-4">
        <div class="flex flex-col items-center">
          <div class="flex items-center">
            <img class="h-6 mb-5" [src]="'assets/images/ball.svg'" [alt]="'ball-icon'">
            <span class="px-2 -mt-4.5">+</span>
            <img class="h-3 mb-5" [src]="'assets/images/football-sneakers.svg'" [alt]="'football-sneakers'">
          </div>
          <span class="text-base font-normal">3</span>
        </div>
      </td>
      <td class="px-6 py-4">
        <div class="flex flex-col items-center">
          <img class="h-6 mb-5" [src]="'assets/images/ball-pass.svg'" [alt]="'ball-pass'">
          <span class="text-base font-normal">0</span>
        </div>
      </td>
      <td class="px-6 py-4">
        <div class="flex flex-col items-center">
          <img class="h-6 mb-5" [src]="'assets/images/card-yellow.svg'" [alt]="'card-yellow'">
          <span class="text-base font-normal">0</span>
        </div>
      </td>
      <td class="px-6 py-4">
        <div class="flex flex-col items-center">
          <img class="h-6 mb-5" [src]="'assets/images/card-red.svg'" [alt]="'card-red'">
          <span class="text-base font-normal">0</span>
        </div>
      </td>
    </tr>
    <tr class="border-b">
      <th class="px-6 py-4">
        <div class="flex items-center">
          <img class="mr-5" [src]="'assets/images/player-image.svg'" [alt]="'player_image'">
          <div class="flex flex-col">
            <h6 class="text-xl font-medium">Зарифчон Н.</h6>
            <span class="text-xs font-medium">Эсхата Сервис ES</span>
          </div>
        </div>
      </th>
      <td class="px-6 py-4">
        <div class="flex flex-col items-center">
          <img class="h-6 mb-5" [src]="'assets/images/ball.svg'" [alt]="'ball-icon'">
          <span class="text-base font-normal">3</span>
        </div>
      </td>
      <td class="px-6 py-4">
        <div class="flex flex-col items-center">
          <img class="h-3 mb-5" [src]="'assets/images/football-sneakers.svg'" [alt]="'football-sneakers'">
          <span class="text-base font-normal">0</span>
        </div>
      </td>
      <td class="px-6 py-4">
        <div class="flex flex-col items-center">
          <img class="h-6 mb-5" [src]="'assets/images/field-icon.svg'" [alt]="'field-icon'">
          <span class="text-base font-normal">2</span>
        </div>
      </td>
      <td class="px-6 py-4">
        <div class="flex flex-col items-center">
          <div class="flex items-center">
            <img class="h-6 mb-5" [src]="'assets/images/ball.svg'" [alt]="'ball-icon'">
            <span class="px-2 -mt-4.5">+</span>
            <img class="h-3 mb-5" [src]="'assets/images/football-sneakers.svg'" [alt]="'football-sneakers'">
          </div>
          <span class="text-base font-normal">3</span>
        </div>
      </td>
      <td class="px-6 py-4">
        <div class="flex flex-col items-center">
          <img class="h-6 mb-5" [src]="'assets/images/ball-pass.svg'" [alt]="'ball-pass'">
          <span class="text-base font-normal">0</span>
        </div>
      </td>
      <td class="px-6 py-4">
        <div class="flex flex-col items-center">
          <img class="h-6 mb-5" [src]="'assets/images/card-yellow.svg'" [alt]="'card-yellow'">
          <span class="text-base font-normal">1</span>
        </div>
      </td>
      <td class="px-6 py-4">
        <div class="flex flex-col items-center">
          <img class="h-6 mb-5" [src]="'assets/images/card-red.svg'" [alt]="'card-red'">
          <span class="text-base font-normal">0</span>
        </div>
      </td>
    </tr>
    <tr class="border-b">
      <th class="px-6 py-4">
        <div class="flex items-center">
          <img class="mr-5" [src]="'assets/images/player-image.svg'" [alt]="'player_image'">
          <div class="flex flex-col">
            <h6 class="text-xl font-medium">Мирзоалишер М.</h6>
            <span class="text-xs font-medium">Эсхата Сервис ES</span>
          </div>
        </div>
      </th>
      <td class="px-6 py-4">
        <div class="flex flex-col items-center">
          <img class="h-6 mb-5" [src]="'assets/images/ball.svg'" [alt]="'ball-icon'">
          <span class="text-base font-normal">2</span>
        </div>
      </td>
      <td class="px-6 py-4">
        <div class="flex flex-col items-center">
          <img class="h-3 mb-5" [src]="'assets/images/football-sneakers.svg'" [alt]="'football-sneakers'">
          <span class="text-base font-normal">5</span>
        </div>
      </td>
      <td class="px-6 py-4">
        <div class="flex flex-col items-center">
          <img class="h-6 mb-5" [src]="'assets/images/field-icon.svg'" [alt]="'field-icon'">
          <span class="text-base font-normal">2</span>
        </div>
      </td>
      <td class="px-6 py-4">
        <div class="flex flex-col items-center">
          <div class="flex items-center">
            <img class="h-6 mb-5" [src]="'assets/images/ball.svg'" [alt]="'ball-icon'">
            <span class="px-2 -mt-4.5">+</span>
            <img class="h-3 mb-5" [src]="'assets/images/football-sneakers.svg'" [alt]="'football-sneakers'">
          </div>
          <span class="text-base font-normal">7</span>
        </div>
      </td>
      <td class="px-6 py-4">
        <div class="flex flex-col items-center">
          <img class="h-6 mb-5" [src]="'assets/images/ball-pass.svg'" [alt]="'ball-pass'">
          <span class="text-base font-normal">0</span>
        </div>
      </td>
      <td class="px-6 py-4">
        <div class="flex flex-col items-center">
          <img class="h-6 mb-5" [src]="'assets/images/card-yellow.svg'" [alt]="'card-yellow'">
          <span class="text-base font-normal">1</span>
        </div>
      </td>
      <td class="px-6 py-4">
        <div class="flex flex-col items-center">
          <img class="h-6 mb-5" [src]="'assets/images/card-red.svg'" [alt]="'card-red'">
          <span class="text-base font-normal">0</span>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
