.main {
  min-height: 170vh;
  background-image: url('../assets/images/background-image.png');
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 670px) {
  .main {
    padding: 0 20px;
  }
}
