//color variables

$white: #ffffff;
$grey50: #FFFFFF;
$grey100: #ECF2FF;
$grey200: #D0D0D0;
$grey300: #999999;
$grey400: #8C99AD;
$grey800: #707884;
$orange200: #FDB72B;
$orange400: #FF4D00;
$blue100: #5799F7;
$blue400: #0538FF;
$blue600: #272F38;
$blue700: #202C3C;
$blue800: #202833;
$violet700: #232444;
$violet800: #B3B8BF1A;
$translucentWhite: #FFFFFF66;
