@import '../../../assets/styles/variables';

.text-grey800 {
  color: $grey800;
}

.border-b-grey800 {
  border-bottom: solid 1px $grey800;
}

@media (max-width: 670px) {

  .footer-icon {
    padding: 2rem 20px;
  }

  .footer-info {
    padding: 0 20px;
  }
}
