<footer class="bg-blue700">
  <div class="container py-12">
    <div class="footer-icon flex items-center capitalize text-xl text-grey800 font-semibold py-8 border-b-grey800">
      <img class="h-6 mr-3"
           [src]="'assets/images/digital-leagua-footer-icon.svg'"
           [alt]="'digital-leagua-icon'">
      sport
    </div>
    <div class="grid md:grid-cols-4 gap-8 py-8">
      <div class="footer-info">
        <ul class="list-outside text-grey800 text-sm font-normal cursor-pointer leading-6">
          <li class="cursor-pointer">Физическим лицам</li>
          <li class="cursor-pointer">Виды кредитов юр. лицам</li>
          <li class="cursor-pointer">Финансовым институтам</li>
          <li class="cursor-pointer">О Банке Эсхата</li>
        </ul>
      </div>
      <div class="footer-info">
        <ul class="list-outside text-grey800 text-sm font-normal cursor-pointer leading-6">
          <li class="flex items-center mb-1.5 cursor-pointer">
            <img class="mr-3" [src]="'assets/images/call-center.svg'" [alt]="''"> Call center 0808
          </li>
          <li class="flex items-center mb-1.5 cursor-pointer">
            <img class="mr-3" [src]="'assets/images/telegram.svg'" [alt]="''"> Эсхата Бизнес в Telegram
          </li>
          <li class="flex items-center mb-1.5 cursor-pointer">
            <img class="mr-3" [src]="'assets/images/google-authenticator.svg'" [alt]="''"> Скачать Google Authenticator
          </li>
          <li class="flex items-center mb-1.5 cursor-pointer">
            <img class="mr-3" [src]="'assets/images/youtube-icon.svg'" [alt]="''"> Youtube
          </li>
        </ul>
      </div>
      <div class="footer-info">
        <div class="footer-info-item text-grey800">
          <p class="cursor-pointer">
            <span class="text-sm">
              Бессрочная лицензия Национального Банка РТ на осуществление банковских операций от 20 мая 2010г.
            </span>
          </p>
          <p class="my-3 cursor-pointer">
            <span class="text-sm">
              Республика Таджикистан, г. Худжанд, улица Гагарина 135.
            </span>
          </p>
        </div>
      </div>
      <div class="footer-info">
        <div class="footer-info-item text-grey800">
          <p class="cursor-pointer">
            <span class="text-sm">
            Режим работы <br>
            Понедельник - Пятница с 8-30 до 16-00 <br>
            Выходные дни -  Суббота, Воскресенье
            </span>
          </p>
          <p class="my-3 cursor-pointer">
            <span class="text-sm">
            ИНН 510004229 <br>
            Телефон: 44 600-0-600 <br>
            Факс: 44 600-0-600
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
